body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0ff;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

/* Styles pour le calendrier 
#calendrier {
     Style pour le calendrier 
}

 Styles pour le formulaire de contact ou message de confirmation
#confirmation {
     Style pour le formulaire ou message 
}*/